/* CSS Document */
/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Intro
7. Why
8. CTA
9. Services
10. Extra
11. Newsletter
12. Footer


******************************/
/***********
1. Fonts
***********/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");

/*********************************
2. Body and some general stuff
*********************************/

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #a5a5a5;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 2.14;
  font-weight: 500;
  color: #828282;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

  &:last-of-type {
    margin-bottom: 0;
  }

  a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #207dff;

    &:active {
      position: relative;
      color: #FF6347;
    }

    &:hover {
      color: #FFFFFF;
      background: #ffa07f;

      &::after {
        opacity: 0.2;
      }

      ::selection {
        background: rgba(87, 204, 195, 0.75);
        color: #FFFFFF;
      }
    }
  }
}

a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

  &:hover, &:visited, &:active, &:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: #207dff;
    outline: none !important;
  }
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  line-height: 1.2;
  color: #404040;
}

.form-control {
  color: #db5246;
}

section {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix {
  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  zoom: 1;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.fill_height {
  height: 100%;
}

.super_container {
  width: 100%;
  overflow: hidden;
}

.prlx_parent {
  overflow: hidden;
}

.prlx {
  height: 130% !important;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.parallax_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nopadding {
  padding: 0px !important;
}

.button {
  height: 46px;
  border-radius: 20px;

  a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 42px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.button_1 {
  background: none;
  border: solid 1px #fff;
  border-radius: 5px;

  a {
    color: #FFFFFF;
  }

  &:hover {
    background: #333;
    border: solid 1px #333;

    a {
      color: #fff;
    }
  }
}

.button_2 {
  background: #FD556E;

  /*#800*/
  border: solid 1px #FD556E;
  border-radius: 5px;

  /*#800*/

  a {
    color: #fff;
  }

  &:hover {
    background: none;
    border: solid 1px #fff;

    a {
      color: #fff;
    }
  }
}

.b1 {
  background: #57ccc3;
  border: solid 2px #57ccc3;

  a {
    color: #FFFFFF;
  }

  &:hover {
    background: #fff;
    border: solid 2px #57ccc3;

    a {
      color: #57ccc3;
    }
  }
}

.b2 {
  background: #fd556d;

  /*#800*/
  border: solid 2px #fd556d;

  /*#800*/

  a {
    color: #fff;
  }

  &:hover {
    background: #fff;
    border: solid 2px #fd556d;

    /*#800*/

    a {
      color: #fd556d;
    }
  }
}

.section_subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #a6abb2;
  line-height: 0.75;
}

.section_title {
  margin-top: 9px;
  width: 100%;
}

.intro_text {
  margin-top: 32px;
}

/*********************************
3. Header
*********************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background: #FFFFFF;
}

.header_content {
  width: 100%;
  height: 117px;
  padding-left: 75px;
  padding-right: 102px;
}

.header.scrolled .header_content {
  height: 75px;
  box-shadow: 0px 5px 15px rgba(87, 204, 195, 0.15);
}

/* logo */

.logo {
  width: 118px;
  height: 80px;
  cursor: pointer;

  a {
    div img {
      width: 100%;
      height: 100%;
    }

    > div {
      &:first-child {
        font-size: 30px;
        font-weight: 700;
        line-height: 0.75;
        color: #353535;

        span {
          color: #57ccc3;
          margin-left: 7px;
        }
      }

      &:last-child {
        font-size: 12px;
        color: #969696;
        font-weight: 500;
        line-height: 0.75;
        margin-top: 6px;
      }
    }
  }
}

.main_nav {
  margin-left: 226px;

  ul li {
    a {
      font-size: 15px;
      font-weight: 600;
      color: #404040;
      white-space: nowrap;

      &:hover {
        color: #57ccc3;
      }
    }

    &.active a {
      color: #57ccc3;
    }

    &:not(:last-child) {
      margin-right: 33px;
    }
  }
}

.work_hours {
  font-size: 15px;
  font-weight: 600;
  color: #404040;
  margin-right: 26px;
  white-space: nowrap;
}

.header_phone {
  height: 46px;
  border-radius: 20px;
  background: #57ccc3;
  padding-left: 40px;
  padding-right: 36px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  margin-right: 12px;

  &::selection {
    background: rgba(64, 64, 64, 0.75);
  }
}

.header_button {
  margin-right: 20px;
}

.social ul li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #e6ebf1;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;

  &:hover {
    background: #57ccc3;

    a i {
      color: #FFFFFF;
    }
  }

  &:not(:last-of-type) {
    margin-right: 15px;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 34px;
    text-align: center;

    i {
      font-size: 16px;
      color: #404040;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: 7px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;

  &:hover {
    border: solid 1px rgba(0, 0, 0, 0.05);
  }

  i {
    font-size: 20px;
    color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

/*********************************
4. Menu
*********************************/

.menu {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background: #57ccc3;
  z-index: 102;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;

  &.active {
    right: 0;
  }
}

.menu_overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.75);
  z-index: 101;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.menu_close_container {
  position: absolute;
  top: 41px;
  left: 28px;
  width: 18px;
  height: 18px;
  transform-origin: center center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}

.menu_close {
  width: 100%;
  height: 100%;
  transform-style: preserve-3D;

  div {
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    &:last-of-type {
      -webkit-transform: rotate(90deg) translateX(-2px);
      -moz-transform: rotate(90deg) translateX(-2px);
      -ms-transform: rotate(90deg) translateX(-2px);
      -o-transform: rotate(90deg) translateX(-2px);
      transform: rotate(90deg) translateX(-2px);
      transform-origin: center;
    }
  }

  &:hover div {
    background: #1befc5;
  }
}

.menu_nav {
  margin-top: 75px;

  ul li {
    &:not(:last-child) {
      margin-bottom: 1px;
    }

    a {
      font-size: 24px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.75);

      &:hover {
        color: #1befc5;
      }
    }
  }
}

.menu_social {
  position: absolute;
  bottom: 30px;
  left: 30px;

  ul li:hover {
    background: #404040;

    a i {
      color: #FFFFFF;
    }
  }
}

.menu_extra {
  margin-top: 50px;

  > div:not(:last-child) {
    margin-bottom: 5px;
  }
}

.menu_link {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);

  a {
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);

    &:hover {
      color: #FFFFFF;
    }
  }
}

/*********************************
5. Home
*********************************/

.home {
  width: 100%;
  height: 768px;
  margin-top: 117px;
}

.home_slider_container {
  width: 100%;
  height: 100%;
}

.home_container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.home_content {
  max-width: 550px;
  letter-spacing: 2px;
}

.home_title {
  font-size: 46px;
  color: #fcfcfc;
  line-height: 1.2;
  font-weight: 500;
  margin-top: -2px;
  text-transform: uppercase;
}

.home_text {
  margin-top: 11px;

  p {
    color: #fff;
  }
}

.home_buttons {
  margin-top: 36px;

  > div:not(:last-child) {
    margin-right: 10px;
  }
}

.home_slider_dots {
  position: absolute;
  bottom: 55px;
  left: calc((100vw - 1140px) / 2);
  z-index: 1;
}

.home_slider_custom_dot {
  width: 8px;
  height: 8px;
  background: #b4b4b4;
  border-radius: 50%;
  cursor: pointer;

  &.active, &:hover {
    background: #57ccc3;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

/*********************************
6. Intro
*********************************/

/* intro*/

.intro {
  width: 100%;
  background: #FFFFFF;
  padding-top: 30px;
}

.intro_content {
  padding-top: 86px;
}

/* intro image*/

.introimg img {
  max-width: 100%;
  max-height: 100%;
}

.section_title_container h6 {
  padding-bottom: 10px;

  .stc {
    border-bottom: 2px solid #57ccc3;
    padding-bottom: 5px;
  }
}

.milestones {
  margin-top: 85px;
}

.milestone_counter {
  font-size: 36px;
  font-weight: 700;
  color: #57ccc3;

  /* used #fd556d ************/
  line-height: 0.75;
}

.milestone_text {
  font-size: 18px;
  font-weight: 600;
  color: #404040;
  line-height: 1.5;
  margin-top: 5px;
}

.intro_form_container {
  width: 100%;
  background: #FFFFFF;
  padding-left: 33px;
  padding-right: 34px;
  padding-bottom: 63px;
  padding-top: 136px;
  box-shadow: 0px 25px 38px rgba(0, 0, 0, 0.2);
}

.intro_form_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 80px;
  background: #57ccc3;
  line-height: 80px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}

.intro_form {
  width: 100%;
}

.intro_input {
  width: calc((100% - 15px) / 2);
  height: 62px;
  background: transparent;
  border: solid 2px #e6ebf1;
  margin-bottom: 18px;
  padding-left: 25px;
  outline: none;
  font-size: 15px;
  color: #404040;
  font-weight: 500;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.intro_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #a09f9f !important;
  cursor: pointer;

  &.selected {
    font-size: 15px !important;
    color: #404040 !important;
    font-weight: 500 !important;
    font-style: normal !important;
  }

  option {
    color: #404040;
  }
}

.intro_input {
  &:focus, &:hover {
    border: solid 2px #57ccc3;
  }

  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #a09f9f !important;
  }
}

.intro_button {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border: solid 2px transparent;
  cursor: pointer;

  &:hover {
    background: transparent;
    border: solid 2px #333;
    color: #333;
  }
}

/*********************************
7. Why
*********************************/

.why {
  width: 100%;
  background-image: url('images/photo/9.jpg');
  background-position: center;
  background-size: cover;

  h2 {}
}

.why_content {
  padding-top: 102px;
  padding-bottom: 90px;
}

.why_text {
  margin-top: 33px;
}

.why_list {
  margin-top: 37px;

  ul li:not(:last-of-type) {
    margin-bottom: 31px;
  }
}

.icon_container {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: #57ccc3;
}

/**************************************** or used background: #fd556d ****************/

.icon {
  width: 32px;
  height: 32px;

  img {
    max-width: 100%;
  }

  .speitchalsize {
    max-width: 100%;
    max-height: 100%;
  }
}

.why_list_content {
  padding-left: 37px;
}

.why_list_title {
  font-size: 18px;
  font-weight: 600;
  color: #404040;
  line-height: 1.2;
}

.why_list_text {
  font-size: 14px;
  font-weight: 500;
  color: #868686;
}

.why_image_container {
  width: 100%;
  height: 100%;
}

.why_image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sectionthree {}

/*********************************
8. CTA
*********************************/

.cta {
  width: 100%;
  background: #333;
  padding-top: 49px;
  padding-bottom: 46px;
}

.cta_title {
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.2;
}

.cta_text {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 2;
  margin-top: -1px;
}

.cta_phone {
  height: 59px;
  padding-left: 24px;
  padding-right: 25px;
  line-height: 59px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  background: #ee4860;
  border-radius: 19px;
  white-space: nowrap;
}

/*********************************
9. Services
*********************************/

.services {
  background: #FFFFFF;
  padding-top: 91px;
  padding-bottom: 25px;
}

.services_row {
  margin-top: 68px;
}

.service_col {
  margin-bottom: 55px;
}

.service_title {
  font-size: 20px;
  font-weight: 600;
  color: #404040;
  line-height: 1.2;
  margin-top: 17px;
}

.service_text {
  margin-top: 21px;
}

/*********************************
10. Extra
*********************************/

.extra {
  padding-top: 54px;
  padding-bottom: 53px;
}

.extra_content {
  background: #FFFFFF;
  width: 393px;
  padding-top: 74px;
  padding-left: 46px;
  padding-right: 30px;
  padding-bottom: 63px;
  box-shadow: 0px 25px 38px rgba(0, 0, 0, 0.2);
}

.extra_disc > div {
  &:first-child {
    font-size: 60px;
    font-weight: 700;
    color: #6bdbd2;
    line-height: 0.75;
  }

  &:last-child {
    font-size: 24px;
    font-weight: 500;
    color: #979797;
    line-height: 0.75;
  }

  &:first-child span {
    display: inline-block;
    font-size: 36px;
    font-weight: 400;
    vertical-align: super;
  }
}

.extra_title {
  font-size: 72px;
  font-weight: 600;
  color: #404040;
  margin-top: 16px;
  line-height: 1.11;
}

.extra_text {
  margin-top: 20px;
}

.extra_link {
  display: inline-block;
  margin-top: 47px;
}

/*********************************
11. Newsletter
*********************************/

.newsletter {
  padding-top: 56px;
  padding-bottom: 82px;
}

.newsletter_title {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
}

.newsletter_row {
  margin-top: 54px;
}

.newsletter_input {
  width: calc(100% - 150px);
  height: 46px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: transparent;
  border: solid 2px #e6ebf1;
  color: #FFFFFF;
  padding-left: 34px;
  outline: none;

  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::input-placeholder {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #FFFFFF !important;
  }
}

.newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 167px;
  height: 46px;
  border-radius: 20px;
  background: #333;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    background-color: #404040;
  }
}

/*********************************
12. Footer
*********************************/

.footer {
  display: block;
  position: relative;
  background: #26292d;
}

.footer_content {
  padding-top: 94px;
  padding-bottom: 51px;
}

.footer_about {
  padding-top: 19px;
}

.footer_logo a > div {
  &:first-child {
    font-size: 30px;
    font-weight: 700;
    line-height: 0.75;
    color: #FFFFFF;

    span {
      color: #57ccc3;
      margin-left: 7px;
    }
  }

  &:last-child {
    font-size: 12px;
    color: #969696;
    font-weight: 500;
    line-height: 0.75;
    margin-top: 6px;
  }
}

.footer_about_text {
  margin-top: 42px;

  p {
    color: #868686;
  }
}

.footer_title {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.2;
}

.footer_contact {
  padding-top: 40px;
}

.contact_list {
  margin-top: 44px;

  li {
    font-size: 15px;
    font-weight: 500;
    color: #878787;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.footer_location {
  padding-top: 40px;
}

.locations_list {
  max-width: 180px;
  margin-top: 42px;

  li {
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }
}

.location_title {
  font-size: 15px;
  font-weight: 500;
  color: #57ccc3;
}

.location_text {
  margin-top: 13px;
}

.opening_hours {
  left: -32px;
  width: calc(100% + 67px);
  padding-left: 32px;
  padding-right: 35px;
  padding-top: 38px;
  padding-bottom: 40px;
  border: solid 2px #4d5157;
}

.opening_hours_list {
  margin-top: 44px;

  li {
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer_bar {
  width: 100%;
  background: #181a1d;
}

.footer_bar_content {
  height: 49px;
}

.copyright {
  font-size: 12px;
  font-weight: 500;
  color: #646464;
}

.footer_nav ul li {
  &:not(:last-child) {
    margin-right: 29px;
  }

  a {
    font-size: 12px;
    font-weight: 500;
    color: #818181;

    &:hover {
      color: #57ccc3;
    }
  }
}

.footermap {
  padding-top: 20px;
  width: 350px;
  height: 250px;
}

.mapouter {
  text-align: center;
  width: 100%;
  width: 350px;
  height: 250px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 350px;
  height: 250px;
}

#gmap_canvas {
  width: 350px;
  height: 250px;
}
